a {

}

body {
  background-color: wheat;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

li {
  font-style: italic;
  color: blue;
}

.initiallyHidden {
  display: none;
}

.clickable p {
  cursor: pointer;
  color: #0088;
}

.clickable li {
  cursor: pointer;
  color: #0088;
}

.clickable img {
  width: 400px;
}

/* .clickable:hover {
  text-decoration: underline;
} */
