a {

}

body {
  background-color: wheat;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

li {
  font-style: italic;
  color: blue;
}
