a {

}

body {
  background-color: red;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  color: green;
  text-align: center;
}

li {
  font-style: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blue;
}
